In [65]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [66]:
df=pd.read_csv('Real estate.csv')

In [67]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [68]:
df.dtypes

No                                          int64
X1 transaction date                       float64
X2 house age                              float64
X3 distance to the nearest MRT station    float64
X4 number of convenience stores             int64
X5 latitude                               float64
X6 longitude                              float64
Y house price of unit area                float64
dtype: object

In [69]:
empty=df.isnull().sum()
empty

No                                        0
X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [70]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaled_df=pd.DataFrame(scaler.fit_transform(df), columns=df.columns)
scaled_df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,-1.727872,-0.823683,1.255628,-0.792495,2.007407,1.125430,0.448762,-0.005901
1,-1.719505,-0.823683,0.157086,-0.616612,1.667503,0.912444,0.401139,0.310507
2,-1.711137,1.541151,-0.387791,-0.414015,0.307885,1.486860,0.688183,0.685782
3,-1.702770,1.246435,-0.387791,-0.414015,0.307885,1.486860,0.688183,1.237656
4,-1.694402,-1.121951,-1.117223,-0.549997,0.307885,0.834188,0.592937,0.376732

In [71]:
df=scaled_df.copy()

In [72]:
X=df.iloc[:, :-1]
y=df.iloc[:, -1]
y

0     -0.005901
1      0.310507
2      0.685782
3      1.237656
4      0.376732
         ...
409   -1.661525
410    0.884457
411    0.192774
412    1.068415
413    1.907264
Name: Y house price of unit area, Length: 414, dtype: float64

In [73]:
#train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=42)

In [74]:
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures(degree=2)
X_train_poly=poly.fit_transform(X_train)
X_test_poly=poly.transform(X_test)

In [75]:
#test the model
from sklearn.linear_model import LinearRegression
reg1=LinearRegression().fit(X_train_poly, y_train)
y_pred=reg1.predict(X_test_poly)

In [76]:
from sklearn.metrics import r2_score
score=r2_score(y_test, y_pred)
score

0.7496830088028898